# Dependencies
node_modules

# Build artifacts
dist
.generated
.nyc_output
.eslintcache
.turbo
.cache

# Configuration and environment files
.env
.env.example
npm-debug.log
yarn.lock
pnpm-lock.yaml

# Git and OS specific files
.git
.gitignore
.DS_Store
Thumbs.db

# IDE configuration
.vscode

# Database related files
.prisma/client

*.log
.npm
.yarn
~/.cache
