PORT=4000

DB_USER=test
DB_PASSWORD=test
DB_NAME=testdb
DB_HOST=db
DB_PORT=5432

# URL for connection to PostgreSQL
DATABASE_URL=postgresql://test:test@db:5432/testdb?schema=public

# maximum log file size before rotation in kBs
LOG_MAX_SIZE_KB=1
