PORT=4000

DB_USER=test
DB_PASSWORD=test
DB_NAME=testdb
DB_HOST=localhost
DB_PORT=5432

# URL for connection to PostgreSQL
DATABASE_URL=postgresql://${DB_USER}:${DB_PASSWORD}@${DB_HOST}:${DB_PORT}/${DB_NAME}?schema=public
